@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}
<div class="container d-flex justify-content-around">
    <div class="w-50">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <h4 class="text-center">Associate your @Model.LoginProvider account.</h4>
        <hr class="hr-4-eventures" />
        <p class="text-info">
            You've successfully authenticated with <strong>@Model.LoginProvider</strong>.
            Please enter an email address for this site below and click the Register button to finish
            logging in.
        </p>
        <div class="row d-flex justify-content-around">
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="font-weight-bold d-flex justify-content-center"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-around">
                    <button type="submit" class="btn eventures-bg-color">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>