@using Microsoft.AspNetCore.Identity
@inject SignInManager<EventuresUser> SignInManager
@inject UserManager<EventuresUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" class="d-flex justify-content-between">
        <ul class="navbar-collapse collapse nav navbar-nav">
            <li>
                @if (User.IsInRole("Admin"))
                {
                    <span>Hello Admin!</span>
                }
                else
                {
                    <span>Hello @User.Identity.Name!</span>
                }
            </li>
            <li>
                <a asp-controller="Account" asp-action="Logout" id="@UserManager.GetUserId(User)" class="font-weight-bold nav-link">Logout</a>
            </li>
        </ul>
    </form>
}
else
{
    <form asp-controller="Account" asp-action="Login" method="post" class="d-flex justify-content-between">
        <ul class="navbar-collapse collapse nav navbar-nav ">
            <li>
                <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
            </li>
        </ul>
    </form>
}