@{
    ViewData["Title"] = "Eventures";
}
<div class="container">
    <div class="jumbotron eventures-bg-color rounded">
        <h2>Eventures - The best ticket eventService in the world.</h2>
        <hr class="hr-3-black"/>
        <h3><a asp-controller="Account" asp-action="Login">Login</a> to start "eventing".</h3>
        <h3><a asp-controller="Account" asp-action="Register">Register</a> if you don't have an account.</h3>
    </div>
</div>